@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@500;700;800&display=swap");
:root {
  --sky-blue: #04647D;
  --royal-blue: #0D41E1;
  --grey-0: #F0F0F0;
  --grey-100: #DDDDDD;
  --grey-600: #535657;
  --grey-1200: #111111;
  --font-family: 'Mulish', sans-serif;
  --font-size-xl: 54px;
  --font-size-lg: 44px;
  --font-size-ml: 32px;
  --font-size-ms: 28px;
  --font-size-s: 24px;
  --font-size-xs: 16px; }

/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none; }

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
  list-style: none; }

/* Set shorter line heights on headings and interactive elements */
h1, h2, h3, h4,
button, input, label {
  line-height: 1.1; }

/* Balance text wrapping on headings */
h1, h2,
h3, h4 {
  text-wrap: balance; }

/* Make images easier to work with */
/* Inherit fonts for inputs and buttons */
input, button, a, textarea, select {
  font: inherit; }

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em; }

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex; }

a {
  color: black; }

body {
  font-family: var(--font-family); }

.heading--xlarge {
  font-size: var(--font-size-xl); }

.heading--large {
  font-size: var(--font-size-lg); }

.heading--mlarge {
  font-size: var(--font-size-ml); }

.heading--msmall {
  font-size: var(--font-size-ms); }

.heading--small {
  font-size: var(--font-size-s); }

.heading--xsmall {
  font-size: var(--font-size-xs); }

.heading__logo--primary {
  color: var(--royal-blue); }

p, ul, label {
  font-size: var(--font-size-s); }

a {
  text-decoration: none; }

.logo__link {
  display: flex;
  align-items: center; }
  .logo__link--image {
    margin-right: 0.5rem; }

body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #F5F5F5;
  box-sizing: border-box; }

.Main_page {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: #F5F5F5; }

.btn {
  padding: 20px 30px;
  font-size: 20px;
  font-weight: bold;
  border-radius: 10px;
  background-color: #0d41e1;
  color: white;
  border: none;
  transition: ease-in 0.8s all; }

.btn:hover {
  background-color: #00007c;
  font-weight: bolder; }

.button, .big-button, .small-button {
  background-color: blue;
  color: white;
  border: none;
  border-radius: 10px; }

.big-button {
  height: 66px;
  width: 183px;
  margin-top: 50px; }

.small-button {
  height: 40px;
  width: 183px; }

.contact-button {
  background: var(--royal-blue);
  color: white;
  padding: 8px 16px;
  border: none;
  border-radius: 8px; }

.card1, .card2, .card3, .card4, .card5, .card6, .card7, .card8, .card9 {
  margin: 20px;
  padding: 20px;
  width: 250px;
  border-radius: 20px;
  border: none;
  background-color: #e2f9ff;
  box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1);
  transition: ease-in 1s all; }

.card2 {
  background-color: #e9eeff; }

.card3 {
  background-color: #ececec; }

.card4 {
  background-color: #ffe8e1; }

.card5 {
  background-color: #e0f7ff; }

.card6 {
  background-color: #ffeed6; }

.card7 {
  background-color: #f4ffe7; }

.card8 {
  background-color: #ececec; }

.card9 {
  background-color: #e9edfa; }

.card__image {
  width: 100px; }

.card__title {
  font-size: 20px;
  font-weight: 300;
  font-weight: bold; }

.card__paragraph {
  font-size: 18px;
  font-weight: 300; }

.card__paragraph--hide {
  display: none; }

.card1:hover, .card2:hover, .card3:hover, .card4:hover, .card5:hover, .card6:hover, .card7:hover, .card8:hover, .card9:hover {
  font-size: 18px;
  box-shadow: 0 0 35px #0d41e1; }
  .card1:hover .card__paragraph--hide, .card2:hover .card__paragraph--hide, .card3:hover .card__paragraph--hide, .card4:hover .card__paragraph--hide, .card5:hover .card__paragraph--hide, .card6:hover .card__paragraph--hide, .card7:hover .card__paragraph--hide, .card8:hover .card__paragraph--hide, .card9:hover .card__paragraph--hide {
    font-size: 18px;
    display: contents; }
  .card1:hover .card__paragraph, .card2:hover .card__paragraph, .card3:hover .card__paragraph, .card4:hover .card__paragraph, .card5:hover .card__paragraph, .card6:hover .card__paragraph, .card7:hover .card__paragraph, .card8:hover .card__paragraph, .card9:hover .card__paragraph {
    display: none; }

.card__section--color1 {
  background-color: #E2F9FF; }

.card__section--color2 {
  background-color: #E9EEFF; }

.card__section--color3 {
  background-color: #ECECEC; }

.center {
  margin: 0 auto;
  text-align: center; }

@media ((max-width: 768px)) {
  .center-div {
    width: 100%;
    max-width: 400px;
    margin: 0 auto; } }

@media (max-width: 480px) {
  .center-div {
    width: 100%;
    max-width: 300px;
    margin: 0 auto; } }

@media ((max-width: 1024px)) {
  .center-div {
    width: 100%;
    max-width: 700px;
    margin: 0 auto; } }

.margin-top-img {
  margin-top: 0; }

.Form_Section {
  height: 100%;
  width: 45%;
  margin-top: 30px; }
  @media screen and (max-width: 1050px) {
    .Form_Section {
      width: 80%; } }
  @media screen and (max-width: 600px) {
    .Form_Section {
      display: block;
      margin-left: auto;
      margin-right: auto; } }
  @media screen and (max-width: 500px) {
    .Form_Section {
      width: 70%; } }

.Form_Content {
  border: 1px solid rgba(56, 55, 55, 0.11); }

label {
  font-weight: bold; }

.Form_Content--set {
  margin-top: 10px; }

.Form_Content--input {
  box-shadow: 0 0 4px 4px #d0e7d6;
  height: 29px;
  width: 100%;
  border: 1px solid rgba(56, 55, 55, 0.11);
  background-color: rgba(255, 255, 255, 0.9);
  margin-top: 10px; }

.Form_Content--Button {
  background-color: #0D41E1;
  border: 1px solid rgba(56, 55, 55, 0.11);
  border-radius: 4px;
  color: #FFFFFF;
  margin-top: 20px;
  height: 30px;
  width: 100%; }

.Form_Content--link {
  text-align: center; }

.Form_Content--link1 {
  text-align: right;
  padding: 7px 0; }

a {
  text-decoration: none;
  color: black; }

.Image_container {
  position: relative;
  width: 100%;
  height: 600px; }
  @media screen and (max-width: 600px) {
    .Image_container {
      width: 100%;
      height: 100%; } }

.Image_container--img {
  width: 100%;
  height: 100%; }

.Image_container--content {
  position: absolute;
  top: 3%;
  left: 5%; }

.Image_container--icon {
  width: 25px; }

.Image_container--article1 {
  font-family: "Mulish";
  font-weight: 400;
  color: #FFFFFF;
  margin-top: 5px;
  font-size: 17px; }

.Image_container--article2 {
  font-family: "Mulish";
  font-weight: 400;
  color: #FFFFFF;
  position: absolute;
  transform: translate(-50%, -50%);
  border: 1px solid rgba(56, 55, 55, 0.11);
  border-radius: 12px;
  background-color: rgba(255, 255, 255, 0.3);
  font-size: 14px;
  bottom: 5%;
  left: 50%;
  width: 65%;
  height: 120px;
  padding: 0 30px 20px 30px; }

.blog-card__image {
  margin: 0; }
  .blog-card__image img {
    width: 100%; }

.generic-card__item--img {
  margin-left: 0;
  margin-right: 50px; }

.generic-card__item--img2 {
  margin-top: 100px;
  margin-left: 0; }

.card__section--img {
  margin-left: 20px; }

.img-100-parent {
  width: 100%; }

.read-more {
  color: #0D41E1;
  font-size: 12px; }

.Main_page {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 60px; }
  @media screen and (max-width: 1050px) {
    .Main_page {
      display: grid;
      grid-template-columns: 2fr 2fr;
      gap: 60px; } }
  @media screen and (max-width: 600px) {
    .Main_page {
      display: flex;
      flex-direction: column; } }

.Form_Content--flex {
  display: flex;
  gap: 20px; }

.Image_container--content {
  display: flex;
  gap: 7px; }

.small-p {
  font-size: 15px; }

.flex-container {
  display: flex;
  justify-content: center;
  gap: 20px; }
  @media ((max-width: 768px)) {
    .flex-container {
      display: block; } }
  @media (max-width: 480px) {
    .flex-container {
      display: block; } }

@media ((max-width: 768px)) {
  .display-none {
    display: none; } }

@media (max-width: 480px) {
  .display-none {
    display: none; } }

@media ((max-width: 1024px)) {
  .display-none {
    display: none; } }

.container__box {
  width: 100%;
  max-width: 600px; }
  @media ((max-width: 1200px)) {
    .container__box {
      max-width: 450px; } }
  @media ((max-width: 1024px)) {
    .container__box {
      max-width: 330px; } }
  @media ((max-width: 768px)) {
    .container__box {
      max-width: 400px;
      margin: 0 auto; } }
  @media (max-width: 480px) {
    .container__box {
      max-width: 300px;
      margin: 0 auto; } }
  .container__box img {
    width: 100%;
    height: 100%; }

.container__box--type1 {
  flex: 0.25;
  margin-top: 0;
  margin-left: 15px;
  margin-right: 15px; }
  .container__box--type1 img {
    height: 420px; }

.container__box--image {
  display: flex; }
  .container__box--image figure {
    flex: 1; }

.card {
  display: flex;
  gap: 40px; }
  @media ((max-width: 1024px)) {
    .card {
      justify-content: center; } }
  @media ((max-width: 768px)) {
    .card {
      display: block; } }
  .card .card__section {
    flex: 1;
    width: 100%;
    max-width: 350px;
    margin: 0;
    border-radius: 15px;
    box-shadow: 0 0 4px 4px #d0e7d6; }
    @media ((max-width: 1200px)) {
      .card .card__section {
        max-width: 300px; } }
    @media ((max-width: 1024px)) {
      .card .card__section {
        max-width: 200px; } }
    @media ((max-width: 768px)) {
      .card .card__section {
        margin: 0 auto; } }
    @media (max-width: 480px) {
      .card .card__section {
        margin: 0 auto; } }

.blog-card {
  display: flex;
  justify-content: center;
  gap: 20px; }
  .blog-card .blog-card__section {
    flex: 1;
    width: 100%;
    max-width: 250px;
    border: 1px solid rgba(56, 55, 55, 0.11); }
    @media ((max-width: 768px)) {
      .blog-card .blog-card__section {
        max-width: 170px; } }
    @media (max-width: 480px) {
      .blog-card .blog-card__section {
        max-width: 150px; } }

.ink-drop {
  margin-top: 200px; }

.color-white {
  color: white; }

.generic-card-top {
  margin-top: 30px; }

.generic-card {
  display: flex;
  gap: 20px; }
  @media ((max-width: 1024px)) {
    .generic-card {
      max-width: 700px;
      margin: 0 auto; } }
  @media (max-width: 480px) {
    .generic-card {
      display: block;
      max-width: 300px;
      margin: 0 auto; } }
  @media ((max-width: 768px)) {
    .generic-card {
      display: block;
      max-width: 400px;
      margin: 0 auto; } }

@media ((max-width: 768px)) {
  .generic-card__item {
    margin: 0 auto; } }

@media (max-width: 480px) {
  .generic-card__item {
    margin: 0 auto; } }

.generic-card__item img {
  width: 100%;
  height: 100%; }

.container__box--left {
  padding-top: 100px;
  padding-right: 20px; }

.card__section--pad {
  margin: 20px; }

.top-pad {
  padding-top: 50px; }

.blog-card__sub-section {
  padding: 10px; }

.flex {
  display: flex; }
  .flex--jcc {
    justify-content: center; }
  .flex--jcsb {
    justify-content: space-between; }
  .flex--aic {
    align-items: center; }

.footer__row--one {
  background: var(--grey-0);
  padding: 60px 20px; }
  @media (min-width: 48.0625em) {
    .footer__row--one {
      display: grid;
      grid-template-columns: 2fr 1fr 1fr 1fr;
      column-gap: 30px; } }

.footer__row--two {
  background: var(--grey-100);
  padding: 20px;
  text-align: center; }

.footer__column--one .footer__image--logo, .footer__column--two .footer__image--logo, .footer__column--three .footer__image--logo, .footer__column--four .footer__image--logo {
  margin-bottom: 1rem; }

.footer__column--one h4.heading, .footer__column--two h4.heading, .footer__column--three h4.heading, .footer__column--four h4.heading {
  margin: 0.5rem 0 1rem; }
  @media (max-width: 48em) {
    .footer__column--one h4.heading, .footer__column--two h4.heading, .footer__column--three h4.heading, .footer__column--four h4.heading {
      margin-top: 2rem; } }

.footer__column--one ul.nav__items li.nav__item, .footer__column--two ul.nav__items li.nav__item, .footer__column--three ul.nav__items li.nav__item, .footer__column--four ul.nav__items li.nav__item {
  margin: 1rem 0 1.3rem; }

@media (min-width: 48.0625em) {
  .contact__container {
    display: flex; } }

.contact__column {
  position: relative; }
  .contact__column--one {
    position: relative; }
    .contact__column--one .paragraph__message {
      color: var(--sky-blue);
      font-weight: 600; }
      @media (min-width: 48.0625em) {
        .contact__column--one .paragraph__message {
          position: absolute;
          top: 0;
          left: 0;
          transform-origin: 0 0;
          margin-top: 120px;
          transform: rotate(-90deg); } }
    .contact__column--one .divider {
      width: 50px;
      margin: 15px 0;
      height: 10px;
      background-color: var(--sky-blue);
      border-radius: 10px; }
      @media (min-width: 48.0625em) {
        .contact__column--one .divider {
          display: flex;
          width: 20px;
          height: 100%;
          margin: 0 50px 0 50px; } }

.contact .form__subtitle {
  margin: 15px 0 40px; }

.form__input label {
  display: block;
  margin: 15px 0 4px;
  font-weight: 700; }

.form__input input, .form__input textarea {
  max-width: 806px;
  width: 100%;
  padding: 20px 25px;
  border-radius: 12px;
  background-color: var(--grey-0);
  border: none; }

.grid {
  display: grid; }
  .grid--jcc {
    justify-content: center; }

.header {
  font-size: 30px; }
  .header h1, .header h3, .header h5 {
    padding: 0;
    margin: 0; }

.mini-header--variation {
  font-size: 20px;
  margin: 0; }

.mini-header {
  color: #04647D;
  font-size: 20px; }

.h5-font {
  font-size: 15px; }

.hero {
  margin-bottom: 40px;
  position: relative; }
  .hero__container {
    padding: 20px; }

@media (min-width: 48.0625em) {
  .hero__column--one {
    display: flex;
    justify-content: space-between; } }

.hero__column--one .content {
  margin: 80px 0; }
  .hero__column--one .content__paragraph {
    margin: 10px 0; }

.hero__column--one .images {
  display: flex; }

.hero__column--two .features {
  display: grid;
  margin: 80px 0; }
  @media (min-width: 48.0625em) {
    .hero__column--two .features {
      grid-template-columns: 1fr 1fr 1fr; } }
  .hero__column--two .features .feature__box {
    display: grid;
    justify-items: center;
    align-content: center;
    text-align: center;
    max-width: 400px;
    width: 100%;
    height: 218px;
    border-radius: 20px;
    background: #FFF;
    box-shadow: 0px 0px 30px 0px rgba(0, 0, 0, 0.1);
    margin: 10px auto; }
    .hero__column--two .features .feature__box img {
      margin: 23px 0;
      border-radius: 50%;
      padding: 15px;
      background-color: var(--grey-0); }
    .hero__column--two .features .feature__box .feature__title {
      margin-bottom: 38px; }

section.hero__image--primary {
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--royal-blue-500, #3561E6);
  width: 100px;
  height: 100px;
  border-radius: 50%; }
  section.hero__image--primary img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    object-fit: cover; }
  @media (max-width: 48em) {
    section.hero__image--primary {
      position: absolute;
      top: 0;
      left: 50%;
      z-index: -100; } }
  @media (min-width: 48.0625em) {
    section.hero__image--primary {
      width: 360px;
      height: 400px;
      border-radius: 0px 0px 500px 500px;
      border: 1px solid #000;
      box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
      padding-bottom: 50px; }
      section.hero__image--primary img {
        width: 250px;
        height: 250px; } }

section.hero__image--secondary {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background: var(--sky-blue-100, #CDF4FE); }
  section.hero__image--secondary img {
    border-radius: 50%;
    width: 50px;
    height: 50px;
    object-fit: cover; }
  @media (max-width: 48em) {
    section.hero__image--secondary {
      position: absolute;
      top: 0;
      left: 70%;
      z-index: -100; } }
  @media (min-width: 48.0625em) {
    section.hero__image--secondary {
      display: flex;
      justify-content: center;
      width: 321px;
      height: 252px;
      border-radius: 0px 0px 500px 500px;
      background: var(--sky-blue-100, #CDF4FE); }
      section.hero__image--secondary img {
        border-radius: 50%;
        width: 200px;
        height: 200px;
        object-fit: cover; } }

.social__icons {
  margin-top: 30px; }
  .social__icons i {
    border: 1px solid var(--grey-1200);
    border-radius: 50%;
    padding: 9px 10px;
    margin: 0 5px;
    object-fit: cover; }

.noscroll {
  overflow: hidden; }

.contact {
  padding: 20px; }

.nav {
  padding: 20px; }
  .nav__column--two .top__nav {
    margin: 0 2rem; }
  @media (max-width: 48em) {
    .nav__column--two {
      display: none; } }
  .nav__harmburger {
    width: 4rem;
    height: 2.5rem;
    margin-right: 5px;
    cursor: pointer; }
    @media (min-width: 48.0625em) {
      .nav__harmburger {
        display: none; } }
    .nav__harmburger .toggle {
      width: 1.5rem;
      height: 0.2rem;
      background-color: var(--royal-blue);
      transition: all 1s ease-in-out;
      z-index: 400; }
      .nav__harmburger .toggle::before, .nav__harmburger .toggle::after {
        content: "";
        height: 0.2rem;
        background-color: var(--royal-blue);
        position: absolute;
        transition: all 0.5s ease-in-out; }
      .nav__harmburger .toggle::before {
        transform: translateY(0.5rem);
        width: 2rem; }
      .nav__harmburger .toggle::after {
        transform: translateY(-0.5rem);
        width: 2rem; }
      @media (min-width: 48.0625em) {
        .nav__harmburger .toggle {
          display: none; } }
    .nav__harmburger .overlay {
      display: none;
      position: fixed;
      z-index: 200;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      right: 0;
      background-color: var(--grey-100); }
      .nav__harmburger .overlay .mobile_nav {
        background-color: rgba(var(--royal-blue), 0.5);
        width: 80%;
        margin: 5rem auto 0; }
        .nav__harmburger .overlay .mobile_nav li a {
          display: block;
          width: 100%;
          border-bottom: 1px solid var(--grey-0);
          padding: 1rem 0;
          padding-left: 1.2rem;
          text-transform: uppercase; }
          .nav__harmburger .overlay .mobile_nav li a:hover {
            background-color: var(--grey-100);
            color: var(--sky-blue);
            padding-left: 5rem;
            transition: all 1s ease-in-out; }
          .nav__harmburger .overlay .mobile_nav li a.active {
            color: var(--sky-blue); }
      .nav__harmburger .overlay .mobile_social {
        margin-top: 8rem; }
        .nav__harmburger .overlay .mobile_social ul {
          margin-top: 1rem; }

.nav__harmburger.open .toggle {
  background-color: transparent;
  transition: all 1s ease-in-out; }

.nav__harmburger.open .toggle::before {
  transform: rotate(45deg);
  transition: all 1s ease-in-out; }

.nav__harmburger.open .toggle::after {
  transform: rotate(-45deg);
  transition: all 1s ease-in-out; }

.nav__item {
  position: relative;
  margin-right: 50px;
  text-decoration: none;
  color: black;
  padding: 0 10px; }
  @media (min-width: 320px) and (max-width: 480px) {
    .nav__item {
      margin: 16px 0; } }
  @media (min-width: 481px) and (max-width: 768px) {
    .nav__item {
      margin: 16px 0; } }

.nav__item::after {
  content: "";
  position: absolute;
  background-color: #0D41E1;
  height: 3px;
  width: 0;
  left: 0;
  bottom: -10px;
  transition: 0.4s; }

.nav__item:hover {
  color: #0D41E1; }

.nav__item:hover::after {
  width: 100%; }

.nav {
  top: 0;
  position: sticky;
  z-index: 3;
  padding-top: 10px;
  padding-left: 30px;
  padding-right: 30px; }
  .nav.active {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px); }
  @media (min-width: 320px) and (max-width: 480px) {
    .nav {
      min-width: 450px; } }
  @media (min-width: 481px) and (max-width: 768px) {
    .nav {
      min-width: 570px; } }
  @media (min-width: 769px) and (max-width: 1024px) {
    .nav {
      min-width: 800px; } }

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
  flex-direction: row; }
  @media (min-width: 320px) and (max-width: 480px) {
    .navbar {
      padding: 0; } }

li {
  list-style: none; }

.navbar__section {
  position: relative;
  margin-right: 50px;
  text-decoration: none;
  color: black;
  padding: 0 10px; }
  @media (min-width: 320px) and (max-width: 480px) {
    .navbar__section {
      margin: 16px 0; } }
  @media (min-width: 481px) and (max-width: 768px) {
    .navbar__section {
      margin: 16px 0; } }

.navbar__section::after {
  content: "";
  position: absolute;
  background-color: #0D41E1;
  height: 3px;
  width: 0;
  left: 0;
  bottom: -10px;
  transition: 0.4s; }

.navbar__section:hover {
  color: #0D41E1; }

.navbar__section:hover::after {
  width: 100%; }

.menu {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  z-index: 1; }
  @media (min-width: 320px) and (max-width: 480px) {
    .menu {
      display: flex;
      position: fixed;
      right: 100%;
      flex-direction: column;
      padding: 20px;
      height: 200px;
      background-color: #0D41E1;
      width: 40%;
      align-items: center;
      justify-content: space-around;
      text-align: center;
      transition: 0.3s; }
      .menu.active {
        background: rgba(255, 255, 255, 0.1);
        border-radius: 30px;
        backdrop-filter: blur(10px);
        right: 0; } }
  @media (min-width: 481px) and (max-width: 768px) {
    .menu {
      display: flex;
      position: fixed;
      right: 100%;
      flex-direction: column;
      padding: 20px;
      height: 200px;
      background-color: #0D41E1;
      width: 40%;
      align-items: center;
      justify-content: space-around;
      text-align: center;
      transition: 0.3s; }
      .menu.active {
        background: rgba(255, 255, 255, 0.1);
        border-radius: 30px;
        backdrop-filter: blur(10px);
        right: 0; } }

.hamburger {
  display: none;
  cursor: pointer; }
  @media (min-width: 320px) and (max-width: 480px) {
    .hamburger {
      display: block; }
      .hamburger.active .bar:nth-child(2) {
        opacity: 0; }
      .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg); }
      .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg); } }
  @media (min-width: 481px) and (max-width: 768px) {
    .hamburger {
      display: block; }
      .hamburger.active .bar:nth-child(2) {
        opacity: 0; }
      .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg); }
      .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg); } }

.bar {
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  background-color: #0D41E1;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out; }

.divider-4 {
  position: absolute;
  top: 100px;
  height: 100px;
  width: 100px;
  background-color: #eaf0fe;
  border-radius: 50%;
  z-index: -1; }

.divider-5 {
  position: absolute;
  top: 400px;
  left: 200px;
  height: 50px;
  width: 50px;
  background-color: #eee2fa;
  border-radius: 50%;
  z-index: -1; }

.divider-6 {
  position: absolute;
  top: 200px;
  left: 30em;
  height: 70px;
  width: 70px;
  background-color: #eaf0fe;
  border-radius: 50%;
  z-index: -1; }
  @media (min-width: 320px) and (max-width: 480px) {
    .divider-6 {
      display: none; } }

html {
  scroll-behavior: smooth; }

body {
  background-color: #fff; }

.container {
  position: relative;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column; }
  @media (min-width: 320px) and (max-width: 480px) {
    .container {
      max-width: 480px;
      margin: auto; } }
  @media (min-width: 481px) and (max-width: 768px) {
    .container {
      max-width: 760px;
      padding: auto; } }
  @media (min-width: 769px) and (max-width: 1024px) {
    .container {
      width: 1000px;
      padding: auto; } }

.container__secondary {
  display: flex;
  flex-direction: row;
  justify-content: space-between; }
  @media (min-width: 320px) and (max-width: 480px) {
    .container__secondary {
      width: 500px;
      padding: auto; } }
  @media (min-width: 481px) and (max-width: 768px) {
    .container__secondary {
      max-width: 760px;
      padding: auto; } }

.page__header--container {
  display: flex;
  flex-direction: column;
  width: 33%;
  padding: 40px; }
  @media (min-width: 320px) and (max-width: 480px) {
    .page__header--container {
      width: 500px;
      padding: auto; } }
  @media (min-width: 481px) and (max-width: 768px) {
    .page__header--container {
      width: 500px;
      padding: auto; } }

.page__header {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 42px;
  font-weight: bold;
  margin: 10px; }

.page__paragraph {
  font-size: 20px;
  font-weight: 300; }

.highlight {
  font-weight: 900;
  color: #0d41e1; }

.divider-1 {
  position: absolute;
  top: 5px;
  height: 100px;
  width: 100px;
  background-color: #eaf0fe;
  border-radius: 50%;
  z-index: -1; }

.divider-2 {
  position: absolute;
  top: 200px;
  left: 200px;
  height: 50px;
  width: 50px;
  background-color: #eee2fa;
  border-radius: 50%;
  z-index: -1; }

.divider-3 {
  position: absolute;
  top: 100px;
  left: 30em;
  height: 70px;
  width: 70px;
  background-color: #eaf0fe;
  border-radius: 50%;
  z-index: -1; }
  @media (min-width: 320px) and (max-width: 480px) {
    .divider-3 {
      display: none; } }

.images__section {
  display: flex; }
  @media (min-width: 481px) and (max-width: 768px) {
    .images__section {
      justify-content: end; } }

.image__container-1 {
  display: flex;
  background-color: #cdf4fe;
  align-items: center;
  justify-content: center;
  height: 250px;
  width: 250px;
  border-bottom-left-radius: 400px;
  border-bottom-right-radius: 400px; }
  @media (min-width: 320px) and (max-width: 480px) {
    .image__container-1 {
      display: none; } }
  @media (min-width: 481px) and (max-width: 768px) {
    .image__container-1 {
      display: none; } }

.image__container-2 {
  position: relative;
  display: flex;
  background-color: #0d41e1;
  align-items: end;
  justify-content: space-around;
  width: 280px;
  height: 350px;
  border-bottom-left-radius: 400px;
  border-bottom-right-radius: 400px; }
  @media (min-width: 320px) and (max-width: 480px) {
    .image__container-2 {
      display: none; } }

.image-1 {
  width: 180px;
  border-radius: 50%; }

.image-2 {
  width: 280px;
  border-radius: 50%;
  padding: 40px; }

.full-services__section {
  display: flex;
  align-items: start;
  justify-content: space-around; }

.section__title--primary {
  color: #04647d;
  writing-mode: vertical-lr;
  transform: rotate(180deg); }

.section__divider {
  background-color: #04647d;
  width: 10px;
  height: 76em; }

.full-services__section--secondary {
  margin: 0 50px; }
  @media (min-width: 320px) and (max-width: 480px) {
    .full-services__section--secondary {
      width: 100vw;
      padding: auto; } }
  @media (min-width: 481px) and (max-width: 768px) {
    .full-services__section--secondary {
      width: 100vw;
      padding: auto; } }

.section__title--secondary {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 30px;
  font-weight: bold;
  margin: 10px;
  width: 500px; }
  @media (min-width: 320px) and (max-width: 480px) {
    .section__title--secondary {
      width: 460px;
      padding: auto; } }
  @media (min-width: 481px) and (max-width: 768px) {
    .section__title--secondary {
      width: 90vw;
      padding: auto; } }

.section__paragraph {
  font-size: 20px;
  font-weight: 300;
  width: 600px; }
  @media (min-width: 320px) and (max-width: 480px) {
    .section__paragraph {
      width: 450px;
      padding: auto; } }
  @media (min-width: 481px) and (max-width: 768px) {
    .section__paragraph {
      width: 90vw;
      padding: auto; } }

.card__container {
  display: flex;
  flex-wrap: wrap; }
