// 320px — 480px: Mobile devices

// 481px — 768px: iPads, Tablets

// 769px — 1024px: Small screens, laptops

// 1025px — 1200px: Desktops, large screens

// 1201px and more —  Extra large screens, TV


@mixin up($size){
    @media(min-width:map-get($breakpoints-up, $size)){
        @content;
    }
}


@mixin down($size){
    @media(max-width:map-get($breakpoints-down, $size)){
        @content;
    }
}
@mixin for-phone-only{
  @media (min-width: 320px) and (max-width: 480px) {
    @content;
  }
}
@mixin for-tablet-portrait-up {
  @media (min-width: 481px) and (max-width: 768px) {
    @content;
  }
}
@mixin for-tablet-landscape-up {
  @media (min-width: 769px) and (max-width: 1024px) {
    @content;
  }
}
@mixin for-desktop-up {
  @media (min-width: 1025px) and (max-width: 1200px) {
    @content;
  }
}
@mixin for-big-desktop-up {
  @media (min-width: 1201px) {
    @content;
  }
}
//Mixin for the page properties
@mixin page-style($default-margin, $default-padding, $primary-width, $primary-height, $page-color){
    margin: $default-margin;
    padding: $default-padding;
    width: $primary-width;
    height: $primary-height;
    background-color: $page-color;
}

//Mixin for size properties
@mixin sizes($primary-width, $primary-height){
    width: $primary-width;
    height: $primary-height;
}

// Mixin for box properties
@mixin box-styles($box-shadow, $border) {
    box-shadow: $box-shadow;
    border: $border;
  }
  
  // Mixin for text properties
  @mixin text-styles($font-weight, $font-size) {
    font-weight: $font-weight;
    font-size: $font-size;
  }

  // Mixin for input properties
@mixin input-styles( $box-shadow,$input-height,$primary-width, $border, $input-bg-color,$primary-margin-top) {
    box-shadow: $box-shadow;
    height: $input-height;
    width: $primary-width;
    border: $border;
    background-color: $input-bg-color;
    margin-top: $primary-margin-top;
  }

  // Mixin for button properties
@mixin button-styles($primary-color, $border, $button-radius, $text-color, $button-margin-top, $button-height, $primary-width) {
    background-color: $primary-color;
    border: $border;
    border-radius: $button-radius;
    color: $text-color;
    margin-top: $button-margin-top;
    height: $button-height;
    width: $primary-width;
  }

  //Mixin for article prperties
  @mixin article-style($article-font, $primary-font-weight, $text-color){
    font-family: $article-font;
    font-weight: $primary-font-weight;
    color: $text-color;
  }
  

  @mixin lg {
    @media (map-get($breakpoints, "lg")) {
      @content;
    }
  }
  
  @mixin md {
    @media (map-get($breakpoints, "md")) {
      @content;
    }
  }
  
  @mixin sm {
    @media (map-get($breakpoints, "sm")) {
      @content;
    }
  }
  
  @mixin xs {
    @media (map-get($breakpoints, "xs")) {
      @content;
    }
  }
  