// layout style for the class (Main_page)
.Main_page {
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 60px;

    @media screen and (max-width: $large-screen){
        display: grid;
        grid-template-columns: 2fr 2fr;
        gap: 60px;
    }

    @media screen and (max-width: $medium-screen){
        display: flex;
        flex-direction: column;
    } 
}

//layout style for the class (Form_Content--flex)
.Form_Content--flex{
    display: flex;
    gap: 20px;
}

//layout style for the class (Image_container--content)
.Image_container--content{
    display: flex;
    gap: 7px;
}

.small-p {
    font-size: 15px;
  }