
  .flex-container {
  display: $display-flex;
  justify-content: center;
  gap: 20px;
 
  @include sm {

    display: block;
  }
  @include xs {
  
    display: block;
  }
}
.display-none{
    @include sm{display: none;}
    @include xs{display: none;}
    
    @include md{display: none;}
}
.container__box {
  width: 100%;
  max-width: 600px;
  
  @include lg {
    max-width: 450px;
  }

  @include md {
    max-width: 330px;
  }

  @include sm {
    max-width: 400px;
    margin: 0 auto;
  }

  @include xs {
    max-width: 300px;
    margin: 0 auto;
  }

  img {
    width: 100%;
    height: 100%;
  }
}
.container__box--type1 {
  flex: $flex-0_25;
  margin-top: $margin-padding-0;
  margin-left: 15px;
  margin-right: 15px;

  img {
    height: $img_height;
  }
}

.container__box--image {
  display: $display-flex;

  figure {
    flex: $flex-1;
  }
}
.card {
  display: $display-flex;
  //justify-content: center;
  gap: $gap-40;
  @include md{
   
    
    justify-content: center;
}

@include sm {
    
display: block;

}



  .card__section {
    flex: $flex-1;
    width: 100%;
    max-width: 350px;
    margin: $margin-padding-0;
    border-radius: $border-radius-size-15;
    box-shadow: $box-shadow;
    

    @include lg{
        max-width: 300px;
    }
    @include md{
        
        max-width: 200px;
        
        
        
        
    }
    @include sm {
        margin: 0 auto;}
        @include xs {
            margin: 0 auto;}
    
  }

  

}

.blog-card {
  display: $display-flex;
//   padding-left: $margin-padding-270;
justify-content: center;
//   padding-right: $margin-padding-270;
  gap: $gap-20;

  .blog-card__section {

    flex: $flex-1;
    width: 100%;
    max-width: 250px;
    border: $border;
    @include sm {
        max-width: 170px;
    }
    @include xs {
        max-width: 150px;
    }
  }
}

.ink-drop{
  margin-top: 200px;
}
.color-white{
  color:white;
}
.generic-card-top{
  margin-top: 30px;
}
.generic-card {
  display: $display-flex;
  gap: 20px;
  @include md{
    max-width: 700px;
    margin: 0 auto;
    
}

@include xs{
    display: block;
    max-width: 300px;
    margin: 0 auto;
    
}

@include sm{
    display: block;
    max-width: 400px;
    margin: 0 auto;
    
}

}
.generic-card__item{
    
   @include sm{ margin: 0 auto;}
   @include xs{ margin: 0 auto;}
    img{
        width: 100%;
        height: 100%;
        
    }
}

//flex items padding and margin spacing
.container__box--left {
  padding-top: $margin-padding-100;
  padding-right: $padding-margin-20;
}
.card__section--pad {
  margin: $padding-margin-20;
}
.top-pad {
  padding-top: $padding-50px;
}
.blog-card__sub-section {
  padding: $margin-padding-10;
}
.flex{
    display: flex;

    &--jcc{
        justify-content: center;
    }

    &--jcsb{
        justify-content: space-between;
    }

    &--aic{
        align-items: center;
    }
}