.contact{
    &__container{
        @include up(small){
            
            display: flex;
        }
    }

    &__column{
        position: relative;
        &--one{
            // display: flex;
            // justify-content: space-between;
            position: relative;
            .paragraph__message{
                color: $ascent;
                font-weight: 600;
                @include up(small){
                    position: absolute;
                    top: 0;
                    left: 0;
                    transform-origin: 0 0;
                    margin-top: 120px;
                    transform: rotate(-90deg);
                }
            }



            .divider{
                width: 50px;
                margin: 15px 0;
                height: 10px;
                background-color: $ascent;
                border-radius: 10px;

                @include up(small){
                    display: flex;
                    width: 20px;
                    height: 100%;
                    margin: 0 50px 0 50px;
                }
            }
        }
    }

    .form__subtitle{
        margin: 15px 0 40px;
    }
}

.form{
    &__input{
        label{
            display: block;
            margin: 15px 0 4px;
            font-weight: 700;
        }
        input, textarea{
            max-width: 806px;
            width: 100%;
            padding: 20px 25px;
            border-radius: 12px;
            background-color: $secondary;
            border: none;
        }
    }
}