.nav{

    padding: 20px;

    &__column{
        &--two{
            .top__nav{
                margin: 0 2rem;
            }

            @include down(small){
                display: none;
            }
        }
    }

    &__harmburger {
        width: 4rem;
        height: 2.5rem;
        margin-right: 5px;
        cursor: pointer;

        @include up(small){
            display: none;
        }

        .toggle {
            width: 1.5rem;
            height: 0.2rem;
            background-color: $primary;
            transition: all 1s ease-in-out;
            z-index: 400;

            &::before,
            &::after {
            content: "";
            height: 0.2rem;
            background-color: $primary;
            position: absolute;
            transition: all 0.5s ease-in-out;
            }

            &::before {
            transform: translateY(0.5rem);
            width: 2rem;
            }
            &::after {
            transform: translateY(-0.5rem);
            width: 2rem;
            }


            @include up(small){
                display: none;
            }
        }

        .overlay {
            display: none;
            position: fixed;
            z-index: 200;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            right: 0;
            background-color: $tertiary;
        
            .mobile_nav {
              background-color: rgba($color: $primary, $alpha: 0.5);
              width: 80%;
              margin: 5rem auto 0;
              li {
                a {
                  display: block;
                  width: 100%;
                  border-bottom: 1px solid $secondary;
                  padding: 1rem 0;
                  padding-left: 1.2rem;
                  text-transform: uppercase;
        
                  &:hover {
                    background-color: $tertiary;
                    color: $ascent;
                    padding-left: 5rem;
                    transition: all 1s ease-in-out;
                  }
                  &.active {
                    color: $ascent;
                  }
                }
              }
            }
        
            .mobile_social {
              margin-top: 8rem;
              ul {
                margin-top: 1rem;
              }
            }
          }

    }
}

//open toggle
.nav__harmburger.open .toggle {
    background-color: transparent;
    transition: all 1s ease-in-out;
  }
  .nav__harmburger.open .toggle::before {
    transform: rotate(45deg);
    transition: all 1s ease-in-out;
  }
  .nav__harmburger.open .toggle::after {
    transform: rotate(-45deg);
    transition: all 1s ease-in-out;
  }

  .nav__item {
    position: relative;
    margin-right: $margin-50px;
    text-decoration: none;
    color: black;
    padding: 0 10px;
    @include for-phone-only{
        margin: 16px 0;
    }
    @include for-tablet-portrait-up{
        margin: 16px 0;
    }
    
    
  }
  .nav__item::after{
    content: "";
    position: absolute;
    background-color: $primary-color;
    height: 3px ;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.4s;
}

.nav__item:hover{
    color: $primary-color;

}
.nav__item:hover::after{
    width: 100%;
}



.nav{
  top: 0;
  position: sticky;
  z-index: 3;
  padding-top: $padding-10px;
  padding-left: 30px;
  padding-right: 30px;
  
  &.active{
      background: rgba(255,255,255, .1);
      backdrop-filter: blur(20px);
      
  }
  @include for-phone-only{
      min-width: 450px;
      
  }
  @include for-tablet-portrait-up{
      min-width: 570px;
      
  }
  @include for-tablet-landscape-up{
      min-width: 800px;
      
  }
 
  
 
}

.navbar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
  flex-direction: row;
  @include for-phone-only{
      padding: 0;
      
  }
  
 
}


li{
  list-style: none;
  
}
.navbar__section {
  position: relative;
  margin-right: $margin-50px;
  text-decoration: none;
  color: black;
  padding: 0 10px;
  @include for-phone-only{
      margin: 16px 0;
  }
  @include for-tablet-portrait-up{
      margin: 16px 0;
  }
  
  
}

.navbar__section::after{
  content: "";
  position: absolute;
  background-color: $primary-color;
  height: 3px ;
  width: 0;
  left: 0;
  bottom: -10px;
  transition: 0.4s;
}

.navbar__section:hover{
  color: $primary-color;

}
.navbar__section:hover::after{
  width: 100%;
}
.menu{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  z-index: 1;
  @include for-phone-only{
      display: flex;
      position: fixed;
      right: 100%;
      flex-direction: column;
      padding: 20px;
      height: 200px;
      background-color: $primary-color;
  
      width: 40%;
      align-items: center;
      justify-content: space-around;
      text-align: center;
      transition: 0.3s;
      &.active{
          background: rgba(255,255,255, .1);
          border-radius: 30px;
          backdrop-filter: blur(10px);
          
          right: 0;
          
      }
  }
  @include for-tablet-portrait-up{
      display: flex;
      position: fixed;
      right: 100%;
      flex-direction: column;
      padding: 20px;
      height: 200px;
      background-color: $primary-color;
  
      width: 40%;
      align-items: center;
      justify-content: space-around;
      text-align: center;
      transition: 0.3s;
      &.active{
          background: rgba(255,255,255, .1);
          border-radius: 30px;
          backdrop-filter: blur(10px);
          
          right: 0;
          
      }
  }
}
.hamburger{
  display: none;
  cursor: pointer;
  @include for-phone-only{
      display: block;
      &.active .bar:nth-child(2){
          opacity: 0;
      }
      &.active .bar:nth-child(1){
          transform: translateY(8px) rotate(45deg);
      }
      &.active .bar:nth-child(3){
          transform: translateY(-8px) rotate(-45deg)
      }
     
      
  }
  @include for-tablet-portrait-up{
      display: block;
      &.active .bar:nth-child(2){
          opacity: 0;
      }
      &.active .bar:nth-child(1){
          transform: translateY(8px) rotate(45deg);
      }
      &.active .bar:nth-child(3){
          transform: translateY(-8px) rotate(-45deg)
      }
  }
}
.bar{
  display: block;
  width: 25px;
  height: 3px;
  margin: 5px auto;
  background-color: $primary-color;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  


}