.btn {
    padding: 20px 30px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 10px;
    background-color: $light-blue;
    color: white;
    border: none;
    transition: ease-in 0.8s all;
  }
  .btn:hover {
    background-color: $dark-blue;
    font-weight: bolder;
  }