
.blog-card__image{
        margin: $margin-padding-0;
    img{
        width: $percent-100;
    }
    
}


.generic-card__item--img{
    margin-left: $margin-padding-0;
    margin-right: $margin-padding-50;
}

.generic-card__item--img2{
    margin-top: $margin-padding-100;
    margin-left:$margin-padding-0;
    
}




.card__section--img{
    margin-left: $margin-padding-20;
    
}


.img-100-parent{
    width:100%;
}

