
.center{
    
    margin: $margin-center;
    text-align: $text-center;

    
}

.center-div{
    @include sm {
        width: 100%;
        max-width: 400px;
        margin: 0 auto;}

        @include xs {
            width: 100%;
            max-width: 300px;
            margin: 0 auto;}

            @include md {
                width: 100%;
                max-width: 700px;
                margin: 0 auto;}
}