//styles for image section
.Image_container{
    position: relative;
    width: $primary-width;
    height: 600px;

    @media screen and (max-width: $medium-screen){
        @include sizes($primary-width, $primary-height);
    }
}

//styles for Digit img
.Image_container--img{
    @include sizes($primary-width, $primary-height);
}

.Image_container--content{
    position: absolute;
    top: 3%;
    left: 5%;
}

.Image_container--icon{
    width: 25px;
}

// styles for "Digit"
.Image_container--article1{
    @include article-style($article-font, $primary-font-weight, $text-color);
    margin-top: 5px;
    font-size: $font-size-larger;
}

// styles for "Tips ..."
.Image_container--article2{
    @include article-style($article-font, $primary-font-weight, $text-color);
    position: absolute;
    transform: $transform;
    border: $border;
    border-radius: $article-border-radius;
    background-color: $article-bg-color;
    font-size: $font-size-regular;
    bottom: 5%;
    left: 50%;
    width: 65%;
    height: 120px;   
    padding: 0 30px 20px 30px;
}

