html {
  scroll-behavior: smooth;
}
body {
  background-color: $background-colour;
}
.container {
  position: relative;
  width: 100%;
  max-width: $laptop-width;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  @include for-phone-only{
    max-width: 480px;
    margin: auto;
  }
  @include for-tablet-portrait-up{
    max-width: 760px;
    padding: auto;
    
  }
  @include for-tablet-landscape-up{
    width: 1000px;
   padding: auto;
    
  }
  
}
.container__secondary {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  @include for-phone-only{
    width: 500px;
    padding: auto;
  }
  @include for-tablet-portrait-up{
    max-width: 760px;
    padding: auto;
  }
  
  
}
.page__header--container {
  display: flex;
  flex-direction: column;
  width: 33%;
  padding: 40px;
  @include for-phone-only{
    width: 500px;
    padding: auto;
  }
  @include for-tablet-portrait-up{
    width: 500px;
    padding: auto;
    
  }
 
}
.page__header {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 42px;
  font-weight: bold;
  margin: 10px;
}
.page__paragraph {
  font-size: 20px;
  font-weight: 300;
}
.highlight {
  font-weight: 900;
  color: $light-blue;
}

.divider-1 {
  position: absolute;
  top: 5px;
  height: 100px;
  width: 100px;
  background-color: $sky-blue-50;
  border-radius: 50%;
  z-index: -1;
}
.divider-2 {
  position: absolute;
  top: 200px;
  left: 200px;
  height: 50px;
  width: 50px;
  background-color: $light-purple;
  border-radius: 50%;
  z-index: -1;
}
.divider-3 {
  position: absolute;
  top: 100px;
  left: 30em;
  height: 70px;
  width: 70px;
  background-color: $sky-blue-50;
  border-radius: 50%;
  z-index: -1;
  @include for-phone-only{
    display: none;
  }
}

.images__section {
  display: flex;
  @include for-tablet-portrait-up{
    justify-content: end;
     
   }

}
.image__container-1 {
  display: flex;
  background-color: $light-cyan;
  align-items: center;
  justify-content: center;
  height: 250px;
  width: 250px;
  border-bottom-left-radius: 400px;
  border-bottom-right-radius: 400px;
  @include for-phone-only{
    display: none;
  }
  @include for-tablet-portrait-up{
    display: none;
     
   }
  
 
  
}
.image__container-2 {
  position: relative;
  display: flex;
  background-color: $light-blue;
  align-items: end;
  justify-content: space-around;
  width: 280px;
  height: 350px;
  border-bottom-left-radius: 400px;
  border-bottom-right-radius: 400px;
  @include for-phone-only{
    display: none;
  }
  
}
.image-1 {
  width: 180px;
  border-radius: 50%;
}
.image-2 {
  width: 280px;
  border-radius: 50%;
  padding: 40px;
}
.full-services__section {
  display: flex;
  align-items: start;
  justify-content: space-around;
  
  
}
.section__title--primary {
  color: $light-green;
  writing-mode: vertical-lr;
  transform: rotate(180deg);
}
.section__divider {
  background-color: $light-green;
  width: 10px;
  height: 76em;
}
.full-services__section--secondary {
  margin: 0 50px;
  @include for-phone-only{
    width: 100vw;
    padding: auto;
    
  }
  @include for-tablet-portrait-up{
    width: 100vw;
    padding: auto;
  }
}
.section__title--secondary {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 30px;
  font-weight: bold;
  margin: 10px;
  width: 500px;
  @include for-phone-only{
    width: 460px;
    padding: auto;
    
  }
  @include for-tablet-portrait-up{
    width: 90vw;
    padding: auto;
  }
}
.section__paragraph {
  font-size: 20px;
  font-weight: 300;
  width: 600px;
  @include for-phone-only{
    width: 450px;
    padding: auto;
    
  }
  @include for-tablet-portrait-up{
    width: 90vw;
    padding: auto;
  }
}
.card__container {
  display: flex;
  flex-wrap: wrap;


}
